<div class="row">
    <div class="col-md-12">
        <div class="my-5">
            <div>
                <h3>Counter is: {{ counter }}</h3>
            </div>
        </div>
        <div class="my-5">
            <div>
                <button class="btn btn-success" (click)="onIncrement()">Increment</button>&nbsp;
                <button class="btn btn-warning" (click)="onDecrement()">Decrement</button>&nbsp;
                <button class="btn btn-primary" (click)="onReset()">Reset</button>
            </div>
        </div>
    </div>
</div>